<section class="partnership">
  <div class="container">
    <h2 class="section-title">{{ title }}</h2>
    <div class="partnership-logos d-grid">
      {% for image in images %}
        <figure class="partner-logo">
          <img 
            src="{{ file_url(image.uri) }}"
            alt="{{ image.alt }}"
            loading="lazy"
          >
        </figure>
      {% endfor %}
    </div>
  </div>
</section>
