<div class="contact-item d-flex">
  <div class="contact-icon">
   
        {{ content.field_contact_icon }}
    

  </div>
  <div class="contact-text">
    {% if paragraph.field_contact_value_text.value %}
      {{ paragraph.field_contact_value_text.value }}
    {% endif %}
  </div>
</div>