{#
/**
 * @file
 * Template pentru Paragraph Library Reference
 * Accesează și renderează paragraph-ul referențiat
 */
#}

{% if paragraph.field_library_item.0 %}
  {% set referenced_para = paragraph.field_library_item.0.entity %}
  
  {# Verifică dacă e services_heading #}
  {% if referenced_para.bundle == 'services_heading' %}
    
    <div class="services-heading">
      <div class="services-heading__content">
        
        {# TITLE #}
        {% if referenced_para.field_title.0.value %}
          <h2 class="services-heading__title">
            {{ referenced_para.field_title.0.value }}
          </h2>
        {% endif %}
        
        {# IMAGE #}
        {% if referenced_para.field_image.0 %}
          <div class="services-heading__image">
            {% set media = referenced_para.field_image.0.entity %}
            
            {% if media and media.field_media_image.0 %}
              {% set image = media.field_media_image.0.entity %}
              
              <img 
                src="{{ file_url(image.uri.value) }}"
                alt="{{ image.alt }}"
                loading="lazy"
                class="services-heading__img"
              />
            {% endif %}
          </div>
        {% endif %}
        
      </div>
    </div>
    
  {% endif %}
  
{% endif %}

