<section class="about-article">
  <div class="container">

    {% set article = paragraph.field_article_reference.entity %}

    {% if article %}

      <div class="article-wrapper">
    <div class="d-grid article-heading cols-2">
       <div class="about-article-title d-flex">
        <h2 class="article-title">
          {{ article.label }}
        </h2>
       </div>

        {% if article.field_image.entity %}
      <div class="about-article-image">
     <img
      src="{{ file_url(article.field_image.entity.uri.value) }}"
      alt="{{ article.field_image.alt }}"
      loading="lazy"
    >
      </div>
         {% endif %}

</div>
       
        <div class="article-body">
          {{ article.body.value|raw }}
        </div>

      </div>

    {% endif %}
  </div>
</section>


