<section class="section-about-legal">
<div class="container">

<h2>{{content.field_title}}</h2>
 <p>{{ content.field_description }}</p>
  {% if content.field_link %}
    <div class="hero-link">
      {{ content.field_link }}
    </div>
  {% endif %}

  </div>

</section>