<section class="home-services">
    <div class="container">
    <div class="home-services__wrapp d-grid">
    <div class="home-services__item">
    {{ content.	field_home_service_image }}
    </div>
    <div class="home-services__item services-content">
        <h2>{{ content.field_home_service_title }}</h2>
        	{{content.field_home_service_text}}
            <div class="services-list">
            {{ content.field_home_service_list}}
        </div>
        </div>
        
    </div>
    </div>
</section>