<section class="services-heading">
<div class="container">
<div class="heading-wrapp">


<div class="heading-image">
 {% if paragraph.field_image.entity %}
          {% set media = paragraph.field_image.entity %}
          {% if media.field_media_image.entity %}
            <img
              src="{{ file_url(media.field_media_image.entity.uri.value) }}"
              alt="{{ media.field_media_image.alt }}"
              loading="lazy"
            />
          {% endif %}
        {% endif %}
</div>
    <div class="heading-title">
        <h2>{{ paragraph.field_title.value }}</h2>
    </div>


     </div>
    </div>
</section>