<div {{ attributes.addClass('services-header-block') }}>
  
  {% if label %}
    <h2 class="services-header-block__title">
      {{ label }}
    </h2>
  {% endif %}
  
  <div class="services-header-block__content">
    {{ content.field_services_heading }}
  </div>
  
</div>