:root {
  --color-primary: #1E2E45;
  --color-white: #FFFFFF;
  --color-accent: #9A9162;
  --color-dark-gray: #3A3A38;
  --color-light-gray: #E8E9E1;
  --color-black: #1A1A1A;
  --font-heading: 'DM Serif Display', serif;
}

html, body {
  box-sizing: border-box;
	height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: Arial, sans-serif;
  background: var(--color-light-gray);
  color: var(--color-dark-gray);
  margin: 0;
	padding: 0;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	overflow-x: hidden;
	opacity: 1;
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  color: var(--color-primary);
  margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}


h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.9rem;
}
h4 {
  font-size: 1.5rem;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

a:hover {
  text-decoration: none;
}




section {
  padding: 60px 0;
}

.section-title {
 text-align: center;
 margin-bottom: 35px;
}

.container {
  max-width: 80rem;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  align-items: center;
}
.d-grid {
  display: grid;
  grid-gap: 30px;
}

.content-between {
    justify-content: space-between;
}

.cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

 img {
  max-width: 100%;
  height: auto;
 }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
}