
 {#{% if label %}
    <section class="bg-page-title" style="background-image: url('{{ base_path ~ directory }}/img/bg-title.png');">
    <div class="container d-flex">
      <h1 class="page-title">{{ label }}</h1>
      </div>
    </section>
  {% endif %}#}

  <div{{ content_attributes }}>
    {{ content }}
  </div>
