{# footer.html.twig #}

<footer role="contentinfo" class="footer">
  <div class="container">
    {% if page.footer_top %}
      <div class="footer-top">
        {{ page.footer_top }}
      </div>
    {% endif %}
  
    {% if page.footer %}
      {% set footer_items = page.footer['#'] %}
      {% set column_count = footer_items|length %}
      
      <div class="footer-middle d-grid column-{{ column_count }}">
        <div class="footer-item">
          {{ page.footer }}
        </div>
      </div>
    {% endif %}
    
    {% if page.footer_bottom %}
      <div class="footer-bottom">
        {{ page.footer_bottom }}
      </div>
    {% endif %}
  </div>
</footer>
