  <header class="header">
    <nav class="main-nav">
      <div class="main-nav__container">
        {{ page.header }}
        {% if page.primary_menu %}
        {{ page.primary_menu }}
        {% endif %}
      <button class="main-nav__mobile-toggle" aria-label="Toggle menu">
  <i class="fa-solid fa-bars fa-lg"></i>
  <i class="fa-solid fa-xmark fa-lg"></i>
</button>
      </div>
    </nav>
  </header>