{#
/**
 * @file
 * Theme override to display a single Drupal page.
 *
 * Available variables:
 * - page: The rendered elements of the page.
 * - page.header: Items for the header region.
 * - page.content: The main content of the page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 */
#}


{{ include('@dnorthman/layout/header.html.twig') }}
    
      
    {% block content %}
      {{ page.content }}
    {% endblock %}
      
{% if page.homearticle %}
  <div class="home-article-region">
    {{ page.homearticle }}
  </div>
{% endif %}
      

    {% if page.footer %}
      <footer role="contentinfo">
        {{ page.footer }}
      </footer>
    {% endif %}


