{#
/**
 * @file
 * Theme override for the front page.
 */
#}


{% include directory ~ '/templates/layout/header.html.twig' %}
{% block content %}
  <div class="front-page">
    <section class="hero">
      <h1>{{ 'Welcome to Northman Law Firm'|t }}</h1>
      <p>{{ 'Your trusted partner in legal solutions.'|t }}</p>
    </section>

    <section class="features">
      <h2>{{ 'Our Services'|t }}</h2>
      {{ page.content }}
    </section>
  </div>
{% endblock %}
