{#
/**
 * @file
 * Theme override for user login page.
 */
#}



{% block content %}
  <div class="login-page">
    <div class="login-form-wrapper">
      <h1 class="login-title">{{ 'Login'|t }}</h1>
      {{ page.content }}
    </div>
  </div>
{% endblock %}