<section class="news"> 

<div class="container">
<div class="news-list d-grid">
  {% for row in rows %}
    <div class="lawyer-item">
      {{ row.content }}
    </div>
  {% endfor %}
</div>
</div>

</section>

