{#<section class="bg-page-title" style="background-image: url('{{ base_path ~ directory }}/img/bg-title.png');">
    <div class="container d-flex">
      <h1 class="page-title">Cases</h1>
      </div>
  </section>#}
    
<section class="cases"> 

<div class="container">
<div class="cases-list d-grid cols-2">
  {% for row in rows %}
    <div class="cases-item">
      {{ row.content }}
    </div>
  {% endfor %}
</div>
</div>

</section>
