<ul>
    {% for item in items %}
        <li>{{ item.content }} <span class="icon-arrow"> <i class="fa-solid fa-arrow-right" ></i> </span></li>
    {% endfor %}
</ul>

{# <pre>{{ dump(items) }}</pre> #}