{% for item in items %}
  {% set url = item.content['#url'] %}
  {% set title = item.content['#title'] %}
  <div>
    <a href="{{ url }}" class="btn btn-secondary">{{ title }}</a>
  </div>
{% endfor %}