.home-article {
    grid-template-columns: repeat(2, 1fr);
}

.bg-page-title {
  background-size: cover;
  background-position: center;
  color: #fff;
  width: 100%;
}

.bg-page-title .container {
  align-items: center;
  align-content: flex-start;
  min-height: 360px;
}

.page--user-login .bg-page-title .page-title-wrapp {
  padding-top: 0;
}

.bg-page-title h1 {
    color: #fff;
    display: block;
}