footer.footer {
    padding: 35px 0;
    color: var(--color-white);
    background-color: var(--color-primary);
}
.footer-top {
    max-width: 800px;
    margin: 0 auto;
    padding-block-end: 15px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

footer.footer h2 {
    color: var(--color-white);
    font-size: 1.3rem;
}
.footer-middle {
    padding-block-start: 25px;
}
.footer-middle.column-1 {
    grid-template-columns: repeat(1, 1fr);
}
.footer-middle.column-2 {
    grid-template-columns: repeat(2, 1fr);
}
.footer-middle.column-3 {
    grid-template-columns: repeat(3, 1fr);
}

.footer-middle .social-links {
    gap: 15px;
}

.footer-middle .main-menu {
    flex-direction: column;
}
