.header {
   /* background-color: var(--color-primary);  */
  /* background: rgba(30, 46, 69, 0.65); */
  background-color: transparent; 
  color: var(--color-white);
  width: 100%;
  position: fixed;
  z-index: 999;
  padding: 15px 0;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.header.header-scrolled {
  background-color: var(--color-primary);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.main-nav {
  background-color: var(--color-background);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.main-nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0  15px;
}

.main-nav__logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 200px;
  padding: 12px 0;
}

.main-nav__logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 40px;
}

.main-nav__logo-image {
  height: 80px;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  display: block;
}

.main-nav__site-name {
  display: none;
}

.main-nav__site-slogan {
  display: none;
}

.main-nav__menu {
  display: flex;
  gap: var(--spacing-lg);
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  align-items: center;
  background: none;
  border: none;
}

.main-nav__item {
  margin: 0;
  padding: 0;
}

.main-nav__link {
  font-family: var(--font-secondary);
  color: var(--color-primary);
  font-weight: 800;
  padding: 8px 12px;
  border-radius: 100px;
  transition: all 0.2s ease;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  font-size: 2em;
}

.main-nav__link:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.main-nav__link.is-active {
  background-color: var(--color-accent-light);
  color: var(--color-primary);
}

.main-nav__mobile-toggle {
  display: none;
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  margin-left: auto;
}

.main-nav__mobile-toggle .svg-inline--fa {
  color: var(--color-white);
  transition: opacity 0.2s;
}

.main-nav__mobile-toggle .fa-xmark {
  display: none;
}

.main-nav__mobile-toggle.active .fa-bars {
  display: none;
}

.main-nav__mobile-toggle.active .fa-xmark {
  display: block;
}

 

.node--type-home .header {
  background-color: var(--color-primary);
}