@media (max-width: 1024px) {
  
}

@media (max-width: 992px) {

.cols-2 {
  grid-template-columns: repeat(1, 1fr);
}

.cols-4,.cols-3 {
  grid-template-columns: repeat(2, 1fr);
}

.home-hero-section .container .d-flex {
  flex-direction: column;
  padding-top: 30px;
}

.hero-title, .hero-text {
  width: 100%;
}
.hero-link {
  padding: 30px 0;
}
.partnership-logos,.section-about-legal
.home-services__wrapp .home-services__item:nth-child(1) {
  text-align: center;
}

.footer-middle.column-4 {
    grid-template-columns: repeat(2, 1fr);
}

.client-info,.testimonial-hero {
  flex-direction: column;
  text-align: center;
}

}

@media (max-width: 768px) {
  .cols-4,.cols-3 {
  grid-template-columns: repeat(1, 1fr);
}
  .news-full-wrapper {
    grid-template-columns: 1fr;
  }
  .home-lawyer-list, .footer-middle.column-3,.footer-middle.column-2,
  .footer-middle.column-4 {
    grid-template-columns: repeat(1, 1fr);
}


}

@media (max-width: 600px) {
  
}