

.login-title {
  margin-bottom: 1.5rem;
  font-family: var(--font-heading);
  color: var(--color-primary);
  text-align: center;
}

/* Stiluri inspirate Bootstrap */
.login-form-wrapper form {
  
}

.login-form-wrapper label {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.login-form-wrapper input.form-text,
.login-form-wrapper input.form-submit {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  width: 100%;
}

.login-form-wrapper input.form-submit {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form-wrapper input.form-submit:hover {
  background-color: var(--color-accent);
}
.about-title {
  padding-right:25px;
}

.about-title h4 {
  font-size: 1.5rem;
}

.lawyer-list {
    grid-template-columns: repeat(3, 1fr);
}

.lawyer-item {
  margin-bottom:20px;
}

.section-title {
  text-align: center;
  padding: 15px 0 30px 0;
}

.before-title {
  padding-bottom: 20px;
}

.services-node {
  padding:25px 0;
}