

.login-title {
  margin-bottom: 1.5rem;
  font-family: var(--font-heading);
  color: var(--color-primary);
  text-align: center;
}

/* Stiluri inspirate Bootstrap */
.login-form-wrapper form {
  
}

.login-form-wrapper label {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.login-form-wrapper input.form-text,
.login-form-wrapper input.form-submit {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  width: 100%;
}

.login-form-wrapper input.form-submit {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form-wrapper input.form-submit:hover {
  background-color: var(--color-accent);
}
.about-title {
  padding-right:25px;
}

.about-title h4 {
  font-size: 1.5rem;
}

.lawyer-list {
    grid-template-columns: repeat(3, 1fr);
}

.lawyer-item {
  margin-bottom:20px;
}

.section-title {
  text-align: center;
  padding: 15px 0 30px 0;
}

.before-title {
  padding-bottom: 20px;
}

.services-node {
  padding:25px 0;
}

.proffi-lawyer-wrapp {
  justify-content: space-between;
}

.proffi-lawyer-wrapp .link-simple-wrapper {
  margin: initial;
}

.proffi-lawyer-wrapp {
  margin-bottom: 30px;
}

.service-lawyer-list {
  grid-template-columns: repeat(3, 1fr);
}

.services-node .article-img {
  width: 640px;
  height: 427px;
  max-width: 100%;          
  overflow: hidden;      
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  background: #f5f5f5;       
}

.services-node .article-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;       /* foarte important: păstrează proporțiile originale */
  object-position: center;   /* centrează imaginea în container */
  display: block;
}

