.home-hero-section {
    background: var(--color-primary);
    color: var(--color-white);
}
.home-hero-section h1 {
    color: var(--color-white);
}
.hero-title {
    width: 45%;
    padding: 16px;
    text-align: left;
}
.hero-text {
    width: 30%;
}

.hero-image {
    width: 55%;
}

.partner-logo {
    padding: 20px;
}

.partnership-logos .partner-logo:nth-child(2) {
  border-left: 1px solid var(--color-dark-gray);
  border-right: 1px solid var(--color-dark-gray);;
}

.partnership-logos .partner-logo:nth-child(3) {
  border-right: 1px solid var(--color-dark-gray);;
}

.services-content {
    padding-top: 60px;
    padding-left: 40px;
}

.services-content h2 {
    padding-bottom: 30px;
}
.services-list {
    padding-top: 40px;
}

.services-list ul li {
    padding: 15px 0;
    border-bottom: 2px solid var(--color-dark-gray);
    position: relative;
    transition: all .25s ease;
}
.services-list ul li:hover {
    border-bottom: 2px solid var(--color-accent);
}
.services-list ul li:hover .fa-arrow-right{
    color: var(--color-accent);
}

.services-list ul li a {
    transition: all .25s ease;
}
.services-list ul li a:hover {
   color: var(--color-accent);
}




.icon-arrow {
    display: block;
    position: absolute;
    right: 0;
    top: 16px;
}

.legal-attorney-list {
    margin-top: 35px;
    border-top: 1px solid #000;
}

.legal-attorney-list ul {
    margin-top: 30px;
}

.legal-attorney-list li{
  font-size: 22px;
  padding: 15px 0;
}
.legal-attorney-list .icon {
    margin-right: 20px;
}
.legal-attorney-list .icon .fa-circle-check {
    color: var(--color-primary);
}

.legal-attorney-item.desc {
    padding: 0 30px;
}

.services-list ul li a {
    font-size: 20px;
    color: var(--color-dark-gray);
    font-family: var(--font-heading);
 }



 .about-legal-lawyer {
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-white);
    margin-block: 15px;
 }
 .about-legal-lawyer h2 {
    color: var(--color-white) !important;
 }

 .home-cases-title {
    padding: 50px 30px;
    border-bottom: 1px solid var(--color-dark-gray);
 }
 .link-simple-wrapper {
    margin-top: 25px;
 }

 


.news-title a{
  color: var(--color-primary)
}

.news-item .see-more {
    padding: 25px 0;
}

.home-news .news-title {
  padding: 20px 0;  
  border-bottom: 1px solid var(--color-dark-gray);
  
}

.home-news .news-title a {
  transition: all .25s ease;
}

.home-news .news-title:hover a{
    color: var(--color-accent);
}

.article-heading {
    grid-gap: 50px;
    
}

.about-article-title {
  border-right: 1px solid var(--color-dark-gray);
  padding: 30px;
  
}

.article-body {
    padding-top: 60px;
}



.welcome-wrapp {
    align-items: end;
    gap: 40px;
    padding-bottom: 30px;
}

.vision-cards {
    gap:30px;
}

.home-services__wrapp .services-content .services-list {
    grid-template-columns: 1fr;
}

.lawyer-item {
    text-align: center;
}

.service-item__link {
    font-size: 1.3rem;
    font-weight: 600;
}

.service-item {
    align-content: center;
}

.service-icon-arrow {
    margin-left: 25px;
}




.contact-wrapp {
  margin-block-end: 50px;
}

.contact-item {
  gap:15px;
}
.contact-bottom {
  justify-content: space-between;
}