.home-hero-section {
    background: var(--color-primary);
    color: var(--color-white);
}
.home-hero-section h1 {
    color: var(--color-white);
}
.hero-title {
    width: 45%;
    padding: 16px;
    text-align: left;
}
.hero-text {
    width: 30%;
}

.hero-image {
    width: 55%;
}

.partnership-logos {
  grid-template-columns: repeat(4, 1fr);
}
.home-about {
grid-template-columns: repeat(2, 1fr);
}

.home-services__wrapp {
    grid-template-columns: repeat(2, 1fr);
}
.services-content {
    padding-top: 60px;
    padding-left: 40px;
}

.services-content h2 {
    padding-bottom: 30px;
}
.services-list {
    padding-top: 40px;
}

.services-list ul li {
    padding: 15px 0;
    border-bottom: 2px solid var(--color-dark-gray);
    position: relative;
}
.services-list ul li::after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url('../../img/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: center; 
}

.services-list ul li a {
    font-size: 20px;
    color: var(--color-dark-gray);
    font-family: var(--font-heading);
 }

 .home-lawyer-list {
    grid-template-columns: repeat(4, 1fr);
 }

 .about-legal-lawyer {
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-white);
 }
 .about-legal-lawyer h2 {
    color: var(--color-white) !important;
 }

 .home-cases-title {
    padding: 50px 30px;
    border-bottom: 1px solid var(--color-dark-gray);
 }
 .link-simple-wrapper {
    margin-top: 25px;
 }

 /* .testimonial-content_title {
    width: 40%;
 }
 .testimonial-content_img {
    width: 60%;
 } */

.testimonial-hero {
    margin-bottom: 30px;
}
.swiper-slide {
  box-sizing: border-box;
}

.testimonial-slider-section .swiper-container {
  width: 100%;
  overflow: hidden; /* important ca slide-urile să nu iasă din container */
  max-width:80rem;
}

.client-logo {
    padding: 20px;
    flex-shrink: 0;
}

.client-logo img{
   width: 250px;
    height: 250px;              
    object-fit: cover;           
    object-position: center top; 
    border-radius: 50%;
    
}